body
{
	text-align:center;
	background: url("computer.jpg") no-repeat;
	height:100%;
	width:100%;
	overflow: hidden;
	background-size:cover;
	-webkit-user-select: none;
	-moz-user-select  : none;
	-khtml-user-select: none;
	user-select       : none;
	-ms-user-select: none;
}


