body
{
	text-align:center;
	background: url("computer.jpg") no-repeat;
	height:100%;
	width:100%;
	overflow: hidden;
	background-size:cover;
}
.stretch { 
    width:100%; 
    height:100%; 
} 

.demo1
{
	text-align:center;
	position:absolute;width:400px;height:200px;left:50%;top:50%;
	margin-left:-200px;margin-top:-100px;border:1px solid #FFFF;
	-webkit-box-shadow: #666 0px 0px 10px;
}
P
{
	text-shadow:0 0 0.5em #fff, -0 -0 0.5em #fff;
}
.a
{
	outline-style: none ;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 4px 14px;
	width: 200px;
	font-size: 14px;
	font-weight: 700;
	font-family: "Microsoft soft";
}
.a:focus
{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.b
{
	outline-style: none ;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 4px 14px;
	width: 200px;
	font-size: 14px;
	font-weight: 700;
	font-family: "Microsoft soft";
		transition: all 1.1s;
}
.b:focus
{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
button
{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
		width: 100px;
		transition: all 1.1s;
}



